.detailContainer {
  background-color: #cbd4c2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 150px;
  height: 100vh;
}
.detailContainer img {
  height: 500px;
  width: 350px;
  border-radius: 15px;
  object-fit: cover;
}
