.isLoanedActive {
  color: red;
}
.isLoaned {
  color: black;
}
/* .imgCard_containe {
  width: 10px;
  height: 10px;
  overflow: hidden;
} */
.imgCard {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.containerCard {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  padding-top: 20px;
}
