.formContainer {
  background-color: #cbd4c2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  /* background-color: #247ba0b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px black; */
  background-color: #247ba0b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 165px;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px black;
  gap: 4px;
}
.form img {
  border-radius: 15px;
}
.form input {
  border: none;
  width: 140%;
  height: 40px;
  border-radius: 10px;
}
.form textarea {
  border: none;
  width: 140%;
  border-radius: 10px;
}
.buttonForm {
  border: none;
  height: 35px;
  width: 95px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #50514f;
  color: white;
  font-weight: bold;
}

@media (min-width: 750px) {
  .form {
    padding: 70px 229px;
  }
}
